<div class="row">
  <div class="col-xs-1 col-sm-4"><br></div>
  <div class="col-xs-10 col-sm-4 box">
    <%= form_for :morse, :html => {:id => "morseform"} do |f| %>
      <%= f.label :Morse_a_español, class: "form-control" %> </br>
      <%= f.text_field :palabra, class: "form-control" %><br/>
      <%= f.submit "Cambiar a morse", class: "btn btn-success" %>
    <% end %>
    <p>
      Palabra en Español:
    </p>
    <div id="morse">
    </div>
  </div>
  <div class="col-xs-1 col-sm-4"></div>
</div>
