<div class="row">
  <div class="col-xs-1 col-sm-2"><br></div>
  <div class="col-xs-10 col-sm-8 box">
    <%= form_for :video, :html => {:id => "videoform"} do |f| %>
      <%= f.label :Ingrese_palabra, class: "form-control" %> </br>
      <%= f.text_field :palabra, class: "form-control" %><br/>
      <%= f.submit "Mostrar señas", class: "btn btn-success" %>
    <% end %>
    <p>
      señas de la letra
    </p><div class="amor">


    <div id="tapar">
      <br>
    </div>
    <div id="video">
<!-- Copy to where you want to display the video player -->
      <script type="text/javascript" src="http://transmors.hol.es/js/jquery.js"></script>
      <script type="text/javascript" src="http://transmors.hol.es/js/magichtmlipadvideo.js"></script>
      <script type="text/javascript" src="http://transmors.hol.es/js/initipadvideo.js"></script>
      <div id="magichtmlvideoplayer">
      <embed id="perra" src="http://transmors.hol.es/asd.swf" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"  quality="high" allowscriptaccess="always" wmode="transparent" allowFullScreen="true" align="middle" width="640" height="360"></embed>
      </div>
      </div>
<!-- End of video player codes -->
    </div>

  </div>
  <div class="col-xs-1 col-sm-2"></div>
</div>
