<div class="row">
  <div class="col-xs-1 col-sm-2 "><br></div>
  <div class="col-xs-10 col-sm-8 box">
    <!--Codigo para pasar de texto a voz-->
    <script src="https://code.responsivevoice.org/responsivevoice.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <textarea id="text" cols="45" rows="3">Hello world</textarea>
    <br>
    <select id="voiceselection"></select>
    <br>
    <input
      onclick="responsiveVoice.speak($('#text').val(),$('#voiceselection').val());"
      type="button"
      value="Play"
    />

    <script>
            //Populate voice selection dropdown
            var voicelist = responsiveVoice.getVoices();
            var vselect = $("#voiceselection");
            $.each(voicelist, function() {
                    vselect.append($("<option />").val(this.name).text(this.name));
            });
    </script></div>
  <div class="col-xs-1 col-md-2"></div>
</div>
