// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#video{

}
#perra{
  margin-top:-7%;
  position: relative;

}
#tapar{
  max-width: 640px;
  height: 50px;
  background-color: black;
  position: relative;
  z-index: 1;
}
